.navbar {
  height: 50px;
  background-color: #05449b;
  display: flex;
  justify-content: center;
}

.navContainer {
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 700;
  font-size: 20px;
}

.avatar {
  position: absolute;
  right: 280px;
  font-weight: 700;
  cursor: pointer;
}

.option {
  z-index: 2;
  position: absolute;
  width: 100px;
  top: 35px;
  background-color: white;
  color: gray;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}

.navButton {
  margin-left: 20px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: #05449b;
  border-radius: 5px;
}
